
@{
    ViewData["Title"] = "ĐĂNG KÝ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h3>Đăng ký thành viên</h3>
    <form id="myform" name="myform">
        <div class="form-group">
            <div class="col-10">Mã sinh viên</div>
            <div class="col">
                <input type="text" name="masv" id="masv" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-10">Họ tên SV</div>
            <div class="col">
                <input type="text" name="hoten" id="hoten" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-10">Ngày sinh</div>
            <div class="col">
                <input type="date" name="ngaysinh" id="ngaysinh" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-10">Email</div>
            <div class="col">
                <input type="email" name="email" id="email" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-10">Xác nhận Email</div>
            <div class="col">
                <input type="email" name="emailVali" id="emailVali" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-10">Credit Card</div>
            <div class="col">
                <input type="text" name="credit" id="credit" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-10">Hình ảnh</div>
            <div class="col">
                <input type="file" name="image" inputmode="image" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-10">Điểm số</div>
            <div class="col">
                <input type="number" name="diem" id="diem" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-10">Hệ số</div>
            <div class="col">
                <input type="number" name="heso" id="heso" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col">Mã bảo mật</div>
            <div class="d-flex flex-row align-items-center">
                <div class="col-8">
                    <input type="text" name="baomat" id="baomat" class="form-control" />
                </div>
                <div class="col-4">
                    <span id="random" class="random text-danger form-control">@ViewBag.MaBaoMat</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-10">Thông tin thêm</div>
            <div class="col">
                <textarea name="note" class="form-control" placeholder="Nhập thông tin thêm..."></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="d-flex flex-row align-items-center">
                <button class="btn btn-outline-primary mr-1">Đăng ký</button>
                <button class="btn btn-outline-dark">Nhập lại</button>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    @*  *@
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script>
        $(function () {
            //Định nghĩa ra một validator mới
            function KTGmail(value,element) {
                let rex = /^[a-z][a-z0-9]*([.][a-z0-9]+)*@@gmail.com$/g;
                return this.optional(element) || rex.test(value);
            }
            $.validator.addMethod("gmail", KTGmail, "Chưa đúng định dạng email")


            $("#myform").validate({
                rules: {
                    masv: { required: true, minlength: 6, rangelength: [6, 10]},
                    hoten: { required: true },
                    ngaysinh: { date: true },
                    email: { required: true, email: true, gmail: true},
                    emailVali: { equalTo: '#email' },
                    credit: { creditcard: true },
                    image: { extension: "png|jpg|gif|jpeg", accept: "image/*" },
                    diem: { number: true, range: [0, 10] },
                    heso: { digits: true, min: 1 },
                    note: { maxlength: 255 },
                    baomat: { remote: "Member/KiemTraMaBaoMat" }
                },
                messages: {
                    baomat: {
                        remote: "Mã bảo mật không đúng"
                    },
                    note: {
                        maxlength: "Tối đa 255 kí tự"
                    },
                    heso: {
                        digits: "Vui lòng nhập đúng kiểu số nguyên", min: "Tối thiểu là 1"
                    },
                    diem: {
                        number: "Nhập số thực", range: "Vui lòng nhập giá trịtừ0 đến 10"
                    },
                    image: {
                        extension: "Chỉ được chọn file hình PNG|JPG|GIF"
                    },
                    credit: {
                        creditcard: "Vui lòng nhập đúng định dạng số thẻ tín dụng"
                    },
                    emailVali: {
                        equalTo: 'Email Không khớp'
                    },
                    email: {
                        required: "Chưa nhập email", email: "Không đúng định dạng email"
                    },
                    ngaysinh: {
                        date: "Vui lòng nhập đúng định dạng ngày sinh"
                    },
                    hoten: {
                        required: "Chưa nhập Họ Tên"
                    },
                    masv: {
                        required: "Chưa nhập Mã Sinh Viên", minlength: "Vui lòng nhập ít nhất 6 kí tự", rangelength: "Tối đa là 10 kí tự"
                    }
                }
            });
        });
    </script>
    <style>
        .random {
            text-align: center;
        }

        label.error {
            color: Red;
        }

        input.error {
            border-color: red;
        }
    </style>

}





