
@{
    ViewData["Title"] = "Form Đăng Kí";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .random {
        text-align: center;
    }
</style>

<div class="container">
    <h3>Đăng ký thành viên</h3>
    <form id="myform" name="myform">
        Mã SV: <input type="text" name="masv" id="masv" class="form-control mb-1" />
        Họ Tên SV: <input type="text" name="hoten" id="hoten" class="form-control mb-1" />
        Ngày sinh: <input type="date" name="ngaysinh" id="ngaysinh" class="form-control mb-1" />
        Email: <input type="email" name="email" id="email" class="form-control mb-1" />
        Xác nhận Email: <input type="email" name="emailVali" id="emailVali" class="form-control mb-1" />
        Credit Card: <input type="text" name="credit" id="credit" class="form-control mb-1" />
        Hình ảnh: <input type="file" name="image" inputmode="image" class="form-control mb-1" />
        Điểm số: <input type="number" name="diem" id="diem" class="form-control mb-1" />
        Hệ số: <input type="number" name="heso" id="heso" class="form-control mb-1" />
        <div class="d-flex flex-row align-items-center mb-1">
            Mã bảo mật: <input type="text" name="baomat" id="baomat" class="form-control mr-2" />
            <span id="random" class="random text-danger form-control">@ViewBag.MaBaoMat</span>
        </div>
        Thông tin thêm: <textarea name="note" class="form-control mb-1" placeholder="Nhập thông tin thêm..."></textarea>
        <div class="d-flex flex-row align-items-center">
            <button class="btn btn-primary mr-1">Đăng ký</button>
            <button class="btn">Nhập lại</button>
        </div>

    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script src ="~/lib/jquery-validation/dist/additional-methods.js"></script>
<script>

    $(function () {
        $("#myform").validate({
            rules: {
                masv: { required: true, minlength: 6 },
                hoten: { required: true },
                ngaysinh: { date: true },
                email: { required: true, email: true },
                emailVali: { equalTo: '#email' },
                credit: { creditcard: true },
                image: { extension: "png|jpg|gif|jpeg" },
                diem: { number: true, range: [0, 10] },
                heso: { digits: true, min: 1 },
                note: { maxlength: 255 },
                baomat: { remote: "KiemTraMaBaoMat" }
            },
            messages: {
                baomat: {
                    remote: "Mã bảo mật không đúng"
                },
                note: {
                    maxlength: "Tối đa 255 kí tự"
                },
                heso: {
                    digits: "Vui lòng nhập đúng kiểu số nguyên", min: "Tối thiểu là 1"
                },
                diem: {
                    number: "Nhập số thực", range: "Vui lòng nhập giá trịtừ0 đến 10"
                },
                image: {
                    extension: "Chỉ được chọn file hình PNG|JPG|GIF"
                },
                credit: {
                    creditcard: "Vui lòng nhập đúng định dạng số thẻ tín dụng"
                },
                emailVali: {
                    equalTo: 'Email Không khớp'
                },
                email: {
                    required: "Chưa nhập email", email: "Không đúng định dạng email"
                },
                ngaysinh: {
                    date: "Vui lòng nhập đúng định dạng ngày sinh"
                },
                hoten: {
                    required: "Chưa nhập Họ Tên"
                },
                masv: {
                    required: "Chưa nhập Mã Sinh Viên", minlength: "Vui lòng nhập ít nhất 6 kí tự"
                }
            }
        });
    });
    </script>
<style>
    label.error {
        color: Red;
    }

    input.error {
        background: yellow;
    }
</style>

}





