<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/css/site.css" rel="stylesheet" />
    <link href="/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" /> @RenderSection("MyStyle", required: false)
</head>
<body>
    <div class="container">
        <div>HEADER</div>
        <div>NAV</div>
        <div class="row">
            <aside class="col-3">
                LEFT MENU
                @await Html.PartialAsync("_PartialView")
                @{
                    var dsLoai = new List<Loai>();
                    dsLoai.Add(new Loai { MaLoai = 1, TenLoai = "Laptop" });
                    dsLoai.Add(new Loai { MaLoai = 2, TenLoai = "Điện thoại" });
                    dsLoai.Add(new Loai { MaLoai = 3, TenLoai = "Tablet" });
                }
                @await Html.PartialAsync("_Loai", dsLoai)
            </aside>
            <div class="col-9">
                @RenderBody()
               
            </div>
        </div>
       <footer>
           FOOTER
       </footer>
    </div>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/site.js"></script>
    @RenderSection("MyScripts", required: false)
</body>
</html>
