
@{
    ViewData["Title"] = "Index";
}
<style>
    h3{
        color: transparent;
        background-image: linear-gradient(to right, red, blue);
        background-clip: text;
        -webkit-background-clip: text;
        font-weight: bold;

    }
</style>

<h3>Ho Chi Minh University of Education ❤️</h3>
<h5>Nguyễn Minh Châu - 4501104023</h5>

