
@{
    ViewData["Title"] = "random";
}
<style>
    h3{
        color: transparent;
        background-image: linear-gradient(to right, red, blue);
        background-clip: text;
        -webkit-background-clip: text;
        font-weight: bold;
    }
</style>

<h3>Hello World ❤️</h3>
<h5>@ViewBag.LoiChao</h5>

